{% extends 'layouts/base.html' %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mes modeles de voiture  <i class=" fas fa-car-side menu-icon"></i></h4>
        
          
            <a href="{% url 'ModeleDeVoiture_create' %}" class="btn btn-info float-left">  <i class="fas fa-plus menu-icon"></i> ajouter  </a>
          
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                
      
                <th>modele</th>
                <th>modifier</th>
               
                
              </tr>
            </thead>
            <tbody>
                {% for ModeleDeVoiture in ModeleDeVoiture_list %}
              <tr>

                    <td>{{ModeleDeVoiture.nom}}</td>
                    <td>
                      <a href="{% url 'update_ModeleDeVoiture' pk=ModeleDeVoiture.pk %}"  class="btn btn-inverse-info btn-fw"><i class="fas fa-edit  menu-icon"></i></a>

              </tr>
              {% endfor %}
               
              <!-- Ajouter les liens de pagination -->
              <div class="pagination-container">
                <div class="pagination">
                    <span class="step-links">
                        {% if is_paginated %}
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i><i class="fas fa-angle-left"><i class="fas fa-angle-left"></i></i> Précédent</a>
                            {% endif %}
            
                            <span class="current">
                                Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                            </span>
            
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Suivant <i class="fas fa-angle-right"><i class="fas fa-angle-right"></i><i class="fas fa-angle-right"></i></i></a>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>
            </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}