{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title" style="text-align:center; 
                        font-size: 24px;
                        color: #333;">Ajouter une nouvelle marque de vehicule  </h4>
                        <!--<p class="sub-header">
                            Most common form control, text-based input fields. Includes support for all HTML5 types:
                            <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>,
                            <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>,
                            <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>,
                            <code>tel</code>, and <code>color</code>.-->
                        </p>
                        {% if method == "post" %}
                            <form method="{{ method }}" class="form" enctype="multipart/form-data" action="{% url 'ModeleDeVoiture_create' %}">
                            {% crispy form %}
                            </form>
                        {% else %}
                            <form method="post" class="form" enctype="multipart/form-data" action="{% url 'update_ModeleDeVoiture' pk=object.pk %}">
                            {% crispy form %}
                            </form>
                        {% endif %}
                        <!-- end row-->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            let datatable_language = {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            };

            $(".form").append("<br><input type='submit' class='btn btn-sm btn-success' value='Enregistrer' />");
            $('.table').DataTable({
                language: datatable_language,
            });
        });

       
    </script>
{% endblock scripts %}

