{% extends "layouts/base.html" %}

{% block content %}
  <style>
    /* Ajoutez ici vos styles CSS */
    h1 {
      color: #333;
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>

  <h1><strong>Détails du vehicule {{detail_vehicule.immatriculation}}</strong></h1>
  <div class="testimonial-item text-center">
    <img class="img-fluid rounded-circle mx-auto mb-4" src="{{ detail_vehicule.vehicule_photos.url }}" style="width: 150px; height: 150px;"> <!-- Adjust the width and height as needed -->
</div>
  <table>
    <tr>
        <th>Taxi N°</th>
        <td>{{ detail_vehicule.Label_voiture }}</td>
      </tr>
      <tr>
        <th>Marque du vehicule</th>
        <td>{{ detail_vehicule.Marque_voiture }}</td>
      </tr>
    <tr>
      <th>Modele du vehicule</th>
      <td>{{ detail_vehicule.Modele_voiture }}</td>
    </tr>
    <tr>
      <th>Numero de chassis</th>
      <td>{{ detail_vehicule.Numero_chassis }}</td>
    </tr>
    <tr>
      <th>nombre de place </th>
      <td>{{ detail_vehicule.Nbr_place }} place </td>
    </tr>
    <tr>
      <th>Date de mise en circulation  </th>
      <td>{{ detail_vehicule.Date_mise_en_circulation }}</td>
    </tr>
    <tr>
      <th>couleur du vehicule</th>
      <td>{{ detail_vehicule.Couleur }}</td>
    </tr>
   

  </table>
{% endblock content %}
